*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {



  
 /* justify-content: center;*/
  /*align-items: center;*/
  min-height: 100vh;
  background:url(components/assests/backg.jpg)
  no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;



  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
